.idea/
venv/
htmlcov/
__pycache__/*
cosipy/__pycache__/
cosipy/modules/__pycache__/
cosipy/cpkernel/__pycache__/
utilities/__pycache__/
debug*
info*
error*
*pyc
*swp
slurm.err
slurm.out
.coverage
.vscode/